body {
  margin: 0;
  padding: 0;
}
.worm {
  position: relative;
  width: 100px;
  min-height: 100vh;
}

.squre-two {
  position: absolute;
  background-color: red;
  width: 300px;
  height: 300px;
  top: 20%;
  transform: translateX(-100%);
}
